<!DOCTYPE html>
<html>
<head>
  <title>CrowdMob / <%= content_for :title  %> </title>
  
  <%= content_for :stylesheets %>
  
  <%= csrf_meta_tags %>
</head>
<body class="page-<%= controller.controller_name %>-<%= controller.action_name %>">

<%= render :partial => 'mobdeals-ui/spinners'%>

<%= render :partial => 'mobdeals-ui/popups/mask' %>
<div class="popup-templates hidden">
  <%= render :partial => 'mobdeals-ui/popups/login' %>
</div>

<div id="head">
  <div class="content-width">
    <div class="logo"><a href="/">Crowd<span>Mob</span></a></div>
    
    <%= content_for :head %>
  </div>
</div>

<div id="account">
  <span class="mobdeals-account-link-box">Logging in...</span>
</div>

<div id="nav">
  <div class="content-width">
    <%= content_for :nav %>
  </div>
</div>

<div id="nav-divider">
  <div class="content-width">
  </div>
</div>

<div id="main">
  <% unless notice.blank? %> 
    <div id="notice"><%= notice %></div>
  <% end %>

  <%= yield %>
</div>

<div id="foot">
  <div class="content-width">
    <div class="logo"></div>
    <div class="left">
      &copy; <%= Time.now.year %> <a href="/">CrowdMob Inc.</a>
    </div>
    <div class="right">
      <%= content_for :nav %>
    </div>
    <div class="clear"></div>
  </div>
</div>

<% if request.ssl? %>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<% else %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<% end %>

<%= content_for :javascripts %>

</body>
</html>
